*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid purple; */
    background-image: linear-gradient(to bottom right, rgba(181, 70, 237, 0.56), rgba(51, 11, 211, 0.664), rgba(94, 146, 163, 0.511));
    display: flex;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
}


#container{
    background-color: aliceblue;
    height: fit-content;
    width: fit-content;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(251, 0, 255);
    scale: 1.4;
    background-color: rgba(232, 213, 198, 0.768);
    font-family: cursive;
    cursor: default;
}


#container:hover{
    scale: 1.5;
    transition-duration: 200ms;
}

h1{
    color: rgb(16, 20, 101);
    text-decoration: underline;
    margin-bottom: 1rem;
    font-size: x-large;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 13rem;
}

p{
    text-align: center;
}

input{
    width: 80%;
    text-align: center;
    padding: 0.2rem 0rem 0.2rem 0rem;
    cursor: text;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 1rem;
    width: fit-content;
    justify-content: center;
    background-color: rgb(140, 65, 206);
    padding: .5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
}


img {
    width: 1.9rem;
    height: 1.9rem;
    border-right: 1px solid;
}

#toName, #fromName {
    display: flex;
    border: 1px solid black;
    border-radius: .1rem;
} 

i{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding-top: 1rem;
}

select{
    border: none;
    background-color: rgba(236, 172, 220, 0.277);
    cursor: pointer;
}